<% if appointment[:status] == 2 %>
  <% color = "bg-red-50" %>
  <% border = "border-red-400" %>
  <% f_color = "text-red-400" %>
<% else %>
  <% color = "bg-#{appointment[:bg_color]}" %>
  <% border = "border-#{appointment[:font_color]}" %>
  <% f_color = "text-#{appointment[:font_color]}" %>
<% end %>
<button class="<%= color %> <%= border %> rounded p-1.5 border-l-2 mb-2 overflow-auto text-start w-full">
  <div
    data-appointment-id="<%= appointment[:id] %>"
    data-action="click->appointment-card#show click->appointment-card#stopPropagation"
    >
    <p class="mb-px text-xs font-normal text-gray-900 2xl:text-sm" data-appointment-id="<%= appointment[:id] %>">
      <%= appointment[:title] %>
    </p>
    <p class=" <%= f_color %> text-xs font-semibold 2xl:text-sm" data-appointment-id="<%= appointment[:id] %>">
      <%= appointment[:patient] %>
    </p>
  </div>
</button>
