<% color = "bg-#{appointment[:doctor].bg_color}"%>
<% border = "border-#{appointment[:doctor].font_color}" %>
<% f_color =  "text-#{appointment[:doctor].font_color}"%>
<div class="<%= color %> <%= border %> rounded p-1.5 border-l-2 mb-2 overflow-auto "
     data-appointment-id="<%= appointment[:id] %>"
     data-action="click->appointment-card#show">
  <p class="mb-px text-xs font-normal text-gray-900" data-appointment-id="<%= appointment[:id] %>">
    <%= appointment[:title] %>
  </p>
  <p class=" <%= f_color %> text-xs font-semibold " data-appointment-id="<%= appointment[:id] %>">
    <%= appointment[:patient]&.full_name %>
  </p>
</div>
