<div data-controller="live-search appointment-form-modal" class="grid grid-cols-2 gap-3">
  <div class="mt-2 2xl:mt-4">
    <%= f.label :title, "Title", class: "block 2xl:text-lg text-sm font-medium text-gray-700" %>
    <%= f.text_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm 2xl:text-lg", placeholder: "Appointment Title" %>
  </div>
  <div class="mt-2 2xl:mt-4">
    <%= f.label :status, "Status", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.select :status, options_for_select(Appointment.statuses.keys.map { |status| [status.humanize, status] }, appointment.status), {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="mt-2 2xl:mt-4">
    <%= f.label :date, "Date", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.date_field :date, value: (appointment.date&.strftime("%Y-%m-%d") || Time.zone.today.strftime("%Y-%m-%d")), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="mt-2 2xl:mt-4">
    <%= f.label :time_hour, "Time", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.select :time_hour, options_for_select((7..18).map { |hour| ["#{hour}:00", hour] }, appointment.date&.strftime("%H").to_i), {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="mt-2 2xl:mt-4">
    <%= f.label :doctor_id, "Doctor", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.select :doctor_id, options_for_select(@doctors.map { |doctor| [doctor.full_name, doctor.id] },selected: appointment.doctor_id), 
                {}, 
                class: "block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-gray-300 focus:ring-primary", 
                data: { action: "change->live-search#updateSelectedDoctor", live_search_target: "doctorSelect"  } %>
  </div>
  <div class="relative mt-2 2xl:mt-4 ">
    <%= f.label :patient_id, "Patient", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <input type="text" id="patient-search" 
    data-action="input->live-search#search" 
    autocomplete="off"
    value="<%= appointment.patient.full_name + " - " + appointment.patient.phone_number  if appointment.patient %>"
    class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-gray-300 focus:ring-primary" 
    placeholder="Search for a patient" />
    
    <%# patient list place holder %>
    <ul data-live-search-target="results" class="absolute hidden w-full mt-1 bg-white border rounded-md shadow-sm border-primary">
    </ul>

    <%# patient list options place holder %>
    <%= f.select :patient_id, options_for_select(@patients.map { |patient| [patient.full_name, patient.id] }, appointment.patient_id), 
                {}, 
                class: "hidden", 
                data: { action: "change->live-search#updateSelectedPatient", live_search_target: "patientSelect"  } %>
  </div>
  <div class="col-span-2 mt-2 2xl:mt-4">
    <%= f.label :description, "Description", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.text_area :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm 2xl:text-lg", placeholder: "Description of the appointment" %>
  </div>
</div>