<div class="p-1 mx-4 mb-5 bg-white border-2 rounded-lg ">
  <ul class="flex w-full gap-6 overflow-auto">
    <li class="<%= 'bg-primary text-white'if tab=="General" %> py-2 px-3  rounded-md ">
      <a href="/admin/doctors/<%= @doctor.id %>/edit">
        General
      </a>
    </li>
    <li class="<%= 'bg-primary'if tab=="Appointments" %> py-2 px-3  rounded-md ">
      Appointments
    </li>
    <li class="<%= 'bg-primary'if tab=="Patients" %> py-2 px-3  rounded-md ">Patients</li>
    <li class="<%= 'bg-primary'if tab=="Diagnosis" %> py-2 px-3  rounded-md ">Diagnosis</li>
    <li class="<%= 'bg-primary'if tab=="Treatments" %> py-2 px-3  rounded-md ">Treatments</li>
  </ul>
</div>