<div class="grid grid-cols-2 gap-8 grid-row-4">
  <div class="items-center">
    <%= f.label I18n.t('doctor.profile'), class: "block text-sm 2xl:text-lg font-medium text-gray-700 mb-2" %>
    <div data-controller="profile-preview">
      <div id="profile-container" class="relative mx-auto w-44 h-44 <%= @doctor.profile.attached? ? '' : 'hidden' %>" data-profile-preview-target="container">
        <img src="<%= @doctor.profile.attached? ? url_for(@doctor.profile) : '' %>" 
         alt="Profile Picture" 
         id="profile-preview"
         class="object-cover border border-gray-300 rounded-md shadow-sm w-44 h-44"
         data-profile-preview-target="preview">
        <label id="profile-icon" for="profile-upload" class="absolute bottom-1 right-1 p-2 bg-white rounded-full shadow-md cursor-pointer <%= @doctor.profile.attached? ? '' : 'hidden' %>" data-profile-preview-target="icon">
          <svg class="w-6 h-6 text-primary" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2V8a2 2 0 00-2-2h-1a4 4 0 00-4-4zM7 6a3 3 0 116 0H7zM6 12a2 2 0 114 0 2 2 0 01-4 0zm6 0a2 2 0 114 0 2 2 0 01-4 0z" clip-rule="evenodd" />
          </svg>
        </label>
      </div>
      <div id="handler" class="flex-col items-center w-full p-4 2xl:p-6 border-2 border-gray-300 border-dashed rounded-md bg-gray-50  <%= @doctor.profile.attached? ? 'hidden' : 'flex' %>" data-profile-preview-target="handler">
        <div class="text-center">
          <svg class="w-12 h-12 mx-auto text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V4m0 0h10m0 0l-3 3m0 0H7m0 0L10 7"></path>
          </svg>
          <p class="mt-1 text-sm text-gray-600 2xl:text-lg 2xl:mt-2">
            Drag and drop an image, or click to select
          </p>
          <p class="text-xs text-gray-500 2xl:mt-3 2xl:text-sm">
            JPG, PNG up to 10MB
          </p>
        </div>
        <label for="profile-upload" class="px-4 py-2.5 pr-7 pl-5 mt-2 2xl:mt-3 text-md 2xl:text-lg font-medium text-white rounded-lg shadow-sm cursor-pointer bg-primary hover:bg-secondary transition-all duration-300 flex items-center gap-2">
          Choose File
        </label>
        <span id="file-name" class="mt-2 text-sm text-gray-500 2xl:text-lg"></span>
      </div>
      <%= f.file_field :profile, class: "hidden", id: "profile-upload", data: { action: "change->profile-preview#previewImage", profile_preview_target: "input" } %>
    </div>
  </div>
  <div class="w-full">
    <%= f.label :description, class: "block text-sm 2xl:text-lg font-medium text-gray-700 mb-2" %>
    <%= f.text_area :description, rows: 4, class: "mt-1 block h-44 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="w-full">
    <%= f.label :first_name, class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.text_field :first_name, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="w-full">
    <%= f.label :last_name, class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.text_field :last_name, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="w-full">
    <%= f.label :phone_number, class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.text_field :phone_number, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="w-full">
    <%= f.label :email, class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
    <%= f.email_field :email, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
  </div>
  <div class="grid grid-cols-4 col-span-2 gap-4">
    <div>
      <%= f.label :address, class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
      <%= f.text_field :address, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
    </div>
    <div>
      <%= f.label :age, class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
      <%= f.text_field :age, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
    </div>
    <div class="col-span-2 form-group">
      <%= f.fields_for :preferences, @doctor.preferences do |preferences| %>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <%= preferences.label :bg_color, "Background Color", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
            <%= preferences.text_field :bg_color, value: @doctor.preferences['bg_color'], class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
          </div>
          <div> <%= preferences.label :font_color, "Font Color", class: "block text-sm 2xl:text-lg font-medium text-gray-700" %>
            <%= preferences.text_field :font_color, value: @doctor.preferences['font_color'], class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
