<%= render partial: "/admin/shared/sidebar", locals: {tab: 'doctors'} %>
<div class="mt-20 lg:ml-64">
  <div class="px-6 py-2 mb-10 2xl:px-8 2xl:py-4">
    <ul class="flex items-center">
      <li class="flex-1 ">
        <h6 class="text-3xl font-semibold leading-8 text-gray-900">Doctors</h6>
      </li>
      <li>
        <a href="/admin/doctors/new">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-lg flex items-center gap-2 text-md 2xl:text-lg font-semibold text-white transition-all duration-300 bg-primary">
            <%= render "admin/shared/svg", name: 'plus' %>
            New Doctor
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div class="mx-4 2xl:mx-8">
    <div class="w-full overflow-auto bg-white rounded-lg shadow-md">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase 2xl:text-sm">Name</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase 2xl:text-sm">Phone Number</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase 2xl:text-sm">Email</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase 2xl:text-sm">Address</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase 2xl:text-sm">Age</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-center text-gray-500 uppercase 2xl:text-sm">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% @doctors.each do |doctor| %>
            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900 2xl:text-lg whitespace-nowrap">
                <a href=<%= "/admin/doctors/#{doctor.id}/edit" %> >
                  <%= doctor.full_name %>
                </a>
              </td>
              <td class="px-6 py-4 text-sm text-gray-500 2xl:text-lg whitespace-nowrap"><%= doctor.phone_number %></td>
              <td class="px-6 py-4 text-sm text-gray-500 2xl:text-lg whitespace-nowrap"><%= doctor.email %></td>
              <td class="px-6 py-4 text-sm text-gray-500 2xl:text-lg whitespace-nowrap"><%= doctor.address %></td>
              <td class="px-6 py-4 text-sm text-gray-500 2xl:text-lg whitespace-nowrap"><%= doctor.age %></td>
              <td class="px-6 py-4 text-sm font-medium text-center 2xl:text-lg whitespace-nowrap">
                <a href="/admin/doctors/<%= doctor.id %>/edit" class="inline-block text-primary hover:text-secondary">
                  <%= render "admin/shared/svg", name: 'edit' %>
                </a>
                <%= link_to admin_doctor_path(id: doctor.id),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
                    class: "text-red-600 hover:text-red-700 ml-4 inline-block" do %>
                  <%= render "admin/shared/svg", name: 'delete' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
