<%= render partial: "/admin/shared/sidebar" %>
<div class="sm:ml-64 mt-20">
  <div class="px-6 py-1 mb-10">
    <ul class="flex items-center">
      <li class=" flex-1">
        <h6 class="text-3xl leading-8 font-semibold text-gray-900">Doctors</h6>
      </li>
      <li>
        <a href="/admin/doctors/new">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-xl flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M10 5V15M15 10H5" stroke="white" stroke-width="1.6" stroke-linecap="round"></path>
            </svg>
            New Doctor
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div class="mx-4">
    <div class="bg-white rounded-lg shadow-md w-full overflow-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone Number</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Address</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Age</th>
            <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% @doctors.each do |doctor| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                <a href=<%= "/admin/doctors/#{doctor.id}/edit" %> >
                  <%= doctor.full_name %>
                </a>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= doctor.phone_number %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= doctor.email %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= doctor.address %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= doctor.age %></td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <a href="/admin/doctors/<%= doctor.id %>/edit" class="text-primary hover:text-secondary">Edit</a>
                <%= link_to admin_doctor_path(id: doctor.id),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
                    class: "text-red-600 hover:text-red-900 ml-4" do %>
                  Delete
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>