<%= render partial: "/admin/shared/sidebar" %>
<div class="sm:ml-64 mt-20">
  <header class="px-6 py-1">
    <ul class="flex items-center">
      <li class=" flex-1">
        <h6 class="text-xl leading-8 font-semibold text-gray-900">Create doctor</h6>
      </li>
      <%# <li>
        <a href="/admin/doctors/new">
          <button class="py-2.5 pr-7 pl-5 rounded-xl flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M10 5V15M15 10H5" stroke="white" stroke-width="1.6" stroke-linecap="round"></path>
            </svg>
            New Doctor
          </button>
        </a>
      </li> %>
    </ul>
  </header>
  <div >
    <div class=" bg-white rounded-lg px-8 ">
      <%= form_with model: @doctor, url: { action: 'create' }, class: "" do |f| %>
        <div class="grid grid-row-4 grid-cols-2 gap-8">
          <div class=" items-center flex-col justify-center">
            <%= f.file_field :profile, class: "mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" %>
          </div>
          <div class="w-full">
            <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_area :description, rows: 4, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <div class="w-full">
            <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :first_name, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <div class="w-full">
            <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :last_name, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <div class="w-full">
            <%= f.label :phone_number, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :phone_number, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <div class="w-full">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
            <%= f.email_field :email, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <div class="w-full">
            <%= f.label :address, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :address, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <div class="w-full">
            <%= f.label :age, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :age, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
          <!-- Submit Button -->
          <div class="w-full col-span-2">
            <%= f.submit "Create Doctor", class: "w-full bg-primary text-white font-semibold py-2 px-4 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>