<div data-tooth-diagnoses-target="serviceSelect dropdown"
    data-tooth-diagnosis-id="<%= tooth_diagnosis.id %>"
    class="relative hidden mt-1"
    style="width: calc(100% - 40px)">
  
  <div class="absolute z-10 w-full bg-white border border-gray-100 rounded-md shadow-lg">
    <div class="p-2" >
      <input type="text" 
            class="w-full px-3 py-2 bg-gray-100 border-none rounded-md focus:ring-primary focus:border-primary"
            placeholder="Search options..."
            data-action="input->tooth-diagnoses#filterServices">
    </div>
    <div class="p-2 overflow-y-auto max-h-60">
      <% sorted_services = services.sort_by do |service|
        treatment = tooth_diagnosis.tooth_diagnosis_treatments.find { |t| t.service_id == service.id }
        [treatment.present? ? 0 : 1, service.name]
      end %>

      <% sorted_services.each do |service| %>
        <% treatment = tooth_diagnosis.tooth_diagnosis_treatments.find { |t| t.service_id == service.id } %>
        <label class="flex items-center p-2 rounded cursor-pointer hover:bg-gray-100">
          <input type="checkbox"
                 name="tooth_diagnosis[service_ids][]"
                 value="<%= service.id %>"
                 class="mr-2 border-gray-300 rounded text-primary focus:ring-primary"
                 data-action="change->tooth-diagnoses#updateMultiDiagnosis"
                 data-service-id="<%= service.id %>"
                 data-tooth-diagnosis-id="<%= tooth_diagnosis.id %>"
                 data-patient-diagnosis-id="<%= patient_diagnosis_id %>"
                 data-treatment-id="<%= treatment&.id %>"
                 <%= 'checked' if treatment.present? %>>
          <span class="text-sm"><%= service.name %></span>
        </label>
      <% end %>
    </div>
  </div>
</div>