<div data-action="click@window->tooth-diagnoses#handleClickAway" >
  <span class="flex items-center">
    <div class="flex items-center flex-1">
      <%= "Tooth ##{tooth_number}" %>
      <%= render "admin/shared/svg", name: 'chevron-right' %>
    </div>
    <button 
      data-action="click->tooth-diagnoses#toggleDiagnosisForm"
      data-tooth-number="<%= tooth_number %>"
      class="px-4 py-2 text-lg font-bold transition-all duration-300 text-primary hover:text-secondary">
      +
    </button>
  </span>
  <hr>
  <div>
    <div class="hidden" data-tooth-diagnoses-target="toothDiagnosisForm" data-tooth-number="<%= tooth_number %>">
      <%= form_with model: ToothDiagnosis.new, url: admin_patient_diagnosis_tooth_diagnoses_url(patient_diagnosis_id: patient_diagnosis_id), method: :post do |f| %>
        <%= render partial: "admin/tooth_diagnoses/form", locals: { f: f } %>
      <% end %>
    </div>
    <% tooth_diagnoses.each do |tooth_diagnosis| %>
      <div class="mt-3 mb-3">
        <div class="flex">
          <div class="flex flex-1" 
            data-action="click->tooth-diagnoses#toggleServiceSelect"
            data-tooth-diagnoses-target="diagnosisButton"
            data-tooth-diagnosis-id="<%= tooth_diagnosis.id %>">
            <button 
              class="block px-4 py-2 mt-1 border border-r-0 border-gray-300 rounded-l-md 2xl:mt-2 focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" 
              type="button">
              <%= tooth_diagnosis.diagnosis.name %>
            </button>
            <button type="button"
            class="flex items-center justify-between flex-1 px-2 py-2 mt-1 border border-gray-300 rounded-r-md 2xl:mt-2 focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" >
              <%= I18n.t('tooth_diagnosis_treatments.select_treatments') %>
              <%= render "admin/shared/svg", name: 'chevron-right' %>
            </button>
          </div>
          <button 
            data-tooth-diagnoses-target="toothDeleteButton" 
            data-tooth-diagnosis-id="<%= tooth_diagnosis.id %>"
            data-patient-diagnosis-id="<%= patient_diagnosis_id %>"
            data-action="tooth-diagnoses#deleteToothDiagnosis"
            class="px-4 py-2 text-lg font-bold text-red-400 transition-all duration-300 hover:text-red-600">
            -
          </button>
        </div>
        <%= render "admin/tooth_diagnoses/drop_down_options", services: @services, tooth_diagnosis: tooth_diagnosis, patient_diagnosis_id: patient_diagnosis_id %>
      </div>
    <% end %>
  </div>
</div>
