<div>
  <span class="flex items-center">
    <%= "Tooth ##{tooth_number}" %>
    <%= render "admin/shared/svg", name: 'chevron-right' %>
  </span>
  <hr>
  <div>
    <% tooth_diagnoses.each do |tooth_diagnosis| %>
      <div class="mt-3 mb-3">
        <div class="flex">
          <button id="states-button" class="block px-4 py-2 mt-1 border border-r-0 border-gray-300 rounded-l-md 2xl:mt-2 focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" type="button">
            <%= tooth_diagnosis.diagnosis.name %>
          </button>
          <button class="flex-1 block px-4 py-2 mt-1 border border-gray-300 rounded-r-md 2xl:mt-2 focus:ring-primary focus:border-primary sm:text-sm 2xl:text-lg" type="button"">
          </button>
          <button 
          data-teeth-target="toothDeleteButton" 
          data-tooth-diagnosis-id="<%= tooth_diagnosis.id %>"
          data-patient-diagnosis-id="<%= tooth_diagnosis.patient_diagnosis_id %>"
          data-action="teeth#deleteToothDiagnosis"
          class="px-4 py-2 text-lg font-bold text-red-400 transition-all duration-300 hover:text-red-600" >
            -
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>