<%= render partial: "/admin/shared/sidebar", locals: {tab: 'diagnoses'} %>
<div class="mt-20 md:ml-64">
  <div class="px-4 py-4 2xl:px-8 2xl:py-8">
    <ul class="flex items-center gap-5">
      <li>
        <a href="/admin/diagnoses">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-md flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button>
        </a>
      </li>
      <li class="flex-1">
        <h6 class="text-xl font-semibold leading-8 text-gray-900 2xl:text-2xl"><%= @diagnosis.name %></h6>
      </li>
    </ul>
  </div>
  <div>
    <div class="px-4 py-4 mx-4 bg-white border-2 rounded-lg 2xl:mx-8 2xl:px-8">
      <%= form_with model: @diagnosis, url: { action: 'update' }, class: "" do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <div class="w-full col-span-2 mt-6">
          <%= f.submit "Update Diagnosis", class: "w-full bg-primary text-white font-semibold text-sm 2xl:text-lg py-2 px-4 rounded-lg hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div> 