<%= render partial: "admin/shared/sidebar", locals: {tab: 'patients'} %>
<div class="mt-20 lg:ml-64" data-controller="teeth">
  <div class="px-4 py-4 2xl:px-8 2xl:py-8">
    <ul class="flex items-center gap-5">
      <li>
        <a href="/admin/patients">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-md flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <%= render "admin/shared/svg", name: 'back' %>
            Back
          </button>
        </a>
      </li>
      <li class="flex-1">
        <h6 class="text-xl font-semibold leading-8 text-gray-900 2xl:text-2xl"><%= @patient.full_name %> - New Diagnosis</h6>
      </li>
    </ul>
  </div>
  <%= render partial: "/admin/shared/patient_tab", locals: {tab: "Diagnoses"} %>
  <div class="flex flex-col xl:flex-row">
    <!-- Left Side: Teeth diagram -->
    <div class="w-full xl:w-1/2">
      <div class="p-2">
        <div class="mb-4">
          <%= render partial: "admin/patient_diagnoses/teeth" %>
        </div>
        <!-- Description Area (Hidden on mobile) -->
        <div class="hidden p-2 xl:block">
          <div class="diagnosis-description">
            <%= render partial: "admin/patient_diagnoses/form", locals: { patient_diagnosis: @patient_diagnosis } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side: Tooth diagnoses -->
    <div class="w-full xl:w-1/2">
      <div class="p-4">
        <div>
          <div data-teeth-target="diagnosisForm" class="hidden pl-4 mb-6 border-l-2 border-primary">
            <%= render partial: "admin/tooth_diagnoses/new", locals: { 
                tooth_diagnosis: ToothDiagnosis.new, 
                tooth_number: nil,
                patient_diagnosis_id: @patient_diagnosis.id
              } %>
          </div>
        
          <% if @diagnosed_teeth.present? %>
            <div data-controller="tooth-diagnoses">
              <% @diagnosed_teeth.each do |tooth_number, diagnoses| %>
                <div class="mb-6 tooth-group">
                  <div class="pl-4 border-l-2 tooth-diagnoses-list border-primary">
                    <%= render partial: "admin/tooth_diagnoses/index", locals: { tooth_diagnoses: diagnoses, tooth_number: tooth_number, patient_diagnosis_id: @patient_diagnosis.id } %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="italic text-center text-gray-500" data-teeth-target="noToothDiagnoses"><%= I18n.t('tooth_diagnosis_treatments.no_tooth_diagnoses') %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Description Area (Mobile Only) -->
  <div class="block p-4 xl:hidden">
    <div class="p-2">
      <div class="diagnosis-description">
        <%= render partial: "admin/patient_diagnoses/form", locals: { patient_diagnosis: @patient_diagnosis } %>
      </div>
    </div>
  </div>
</div>
