<%= render partial: "admin/shared/sidebar", locals: {tab: 'patients'} %>
<div class="mt-20 md:ml-64" data-controller="teeth">
  <div class="px-4 py-4 2xl:px-8 2xl:py-8">
    <ul class="flex items-center gap-5">
      <li>
        <a href="/admin/patients">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-md flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <%= render "admin/shared/svg", name: 'back' %>
            Back
          </button>
        </a>
      </li>
      <li class="flex-1">
        <h6 class="text-xl font-semibold leading-8 text-gray-900 2xl:text-2xl"><%= @patient.full_name %> - New Diagnosis</h6>
      </li>
    </ul>
  </div>
  <%= render partial: "/admin/shared/patient_tab", locals: {tab: "Diagnoses"} %>
  <div class="flex">
    <!-- Left Side: Teeth diagram and editor -->
    <div class="w-1/2 p-2">
      <div class="mb-4">
        <%= render partial: "admin/patient_diagnoses/teeth" %>
      </div>
      <div class="p-2 border rounded-lg ">
        <!-- Editor or description area -->
        <div class="diagnosis-description">
          Diagnosis Description
        </div>
      </div>
    </div>
    <!-- Right Side: Form with tooth-specific details -->
    <div class="w-1/2 p-4">
      <div class="p-2 ">
        <div>
          <div data-teeth-target="diagnosisForm" class="hidden pl-4 mb-4 border-l-2 border-primary">
            <%= render partial: "admin/tooth_diagnoses/new", locals: { 
                tooth_diagnosis: ToothDiagnosis.new, 
                tooth_number: nil,
                patient_diagnosis_id: @patient_diagnosis.id
              } %>
          </div>
          <% if @tooth_diagnoses_by_tooth.present? %>
            <div class="tooth-diagnoses-container">
              <% @tooth_diagnoses_by_tooth.each do |tooth_number, diagnoses| %>
                <div class="mb-6 tooth-group">
                  <div class="pl-4 border-l-2 tooth-diagnoses-list border-primary">
                    <%= render partial: "admin/tooth_diagnoses/index", locals: { tooth_diagnoses: diagnoses, tooth_number: tooth_number } %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="italic text-gray-500" data-teeth-target="noToothDiagnoses">No tooth diagnoses recorded yet.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
