<%= render partial: "/admin/shared/sidebar", locals: {tab: 'patients'} %>
<div class="mt-20 md:ml-64">
  <div class="px-4 py-4 2xl:px-8 2xl:py-8">
    <ul class="flex items-center gap-5">
      <li >
        <a href="/admin/patients">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-md flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <%= render "admin/shared/svg", name: 'back' %>
            Back
          </button>
        </a>
      </li>
      <li class="flex-1 ">
        <h6 class="text-xl font-semibold leading-8 text-gray-900 2xl:text-2xl"><%= @patient.full_name %></h6>
      </li>
    </ul>
  </div>
  <%= render partial: "/admin/shared/patient_tab", locals: {tab: "General"} %>
  <div>
    <div class="px-4 py-4 mx-4 bg-white border-2 rounded-lg 2xl:mx-8 2xl:px-8">
      <%= form_with model: @patient, url: { action: 'update' }, class: "" do |f| %>
        <%=render partial: 'form', locals:{f: f}%>
        <div class="w-full col-span-2 mt-6">
          <%= f.submit "Update Patient", class: "w-full bg-primary text-white font-semibold text-sm 2xl:text-lg py-2 px-4 rounded-lg hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
