<%= render partial: "admin/shared/sidebar", locals: {tab: 'patients'} %>
<div class="mt-20 md:ml-64">
  <div class="px-6 py-1 mb-10">
    <ul class="flex items-center">
      <li class="flex-1 ">
        <h6 class="text-3xl font-semibold leading-8 text-gray-900">Patients</h6>
      </li>
      <li>
        <a href="/admin/patients/new">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-xl flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M10 5V15M15 10H5" stroke="white" stroke-width="1.6" stroke-linecap="round"></path>
            </svg>
            New Patients
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div class="mx-4">
    <div class="w-full overflow-auto bg-white rounded-lg shadow-md">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Name</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Phone Number</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Email</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Address</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">Age</th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-center text-gray-500 uppercase">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% @patients.each do |patient| %>
            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">
                <a href=<%= "/admin/patients/#{patient.id}/edit" %> >
                  <%= patient.full_name %>
                </a>
              </td>
              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"><%= patient.phone_number %></td>
              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"><%= patient.email %></td>
              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"><%= patient.address %></td>
              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"><%= patient.age %></td>
              <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                <a href="/admin/patients/<%= patient.id %>/edit" class="text-primary hover:text-secondary">Edit</a>
                <%= link_to admin_patient_path(id: patient.id),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
                    class: "text-red-600 hover:text-red-900 ml-4" do %>
                  Delete
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>