<%= render partial: "/admin/shared/sidebar", locals: {tab: 'admin'} %>
<%# Dental Chart Layout %>
<div class="mt-20 md:ml-64">
  <div class="w-full max-w-4xl mx-auto">
    <%# Upper Teeth (18-11, 21-28) %>
    <div class="flex mb-2">
      <%# Top Left (18-11) %>
      <div class="flex justify-end flex-1">
        <% (18.downto(11)).each do |number| %>
          <span class="w-8 text-center 2xl:w-10">
            <span class="text-xs"><%= number %></span>
            <%= render partial: "admin/shared/teeth/tooth_#{number}" %>
          </span>
        <% end %>
      </div>
      <%# Top Right (21-28) %>
      <div class="flex flex-1">
        <% (21..28).each do |number| %>
          <span class="w-8 text-center 2xl:w-10">
            <span class="text-xs"><%= number %></span>
            <%= render partial: "admin/shared/teeth/tooth_#{number}" %>
          </span>
        <% end %>
      </div>
    </div>
    <%# Lower Teeth %>
    <div class="flex mb-2">
      <%# Bottom Left (48-41) %>
      <div class="flex justify-end flex-1">
        <% (48.downto(41)).each do |number| %>
          <span class="w-8 text-center 2xl:w-10">  
            <%= render partial: "admin/shared/teeth/tooth_#{number}" %>
            <span class="text-xs"><%= number %></span>
          </span>
        <% end %>
      </div>
      <%# Bottom Right (31-38) %>
      <div class="flex flex-1">
        <% (31..38).each do |number| %>
          <span class="w-8 text-center 2xl:w-10">
            <%= render partial: "admin/shared/teeth/tooth_#{number}" %>
            <span class="text-xs"><%= number %></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>