<%= render partial: "/admin/shared/sidebar", locals: {tab: 'patients'} %>
<div class="mt-20 md:ml-64">
  <div class="px-4 py-4 2xl:px-8 2xl:py-8">
    <ul class="flex items-center gap-5">
      <li>
        <a href="/admin/patients">
          <button class="hover:bg-secondary py-2.5 pr-7 pl-5 rounded-md flex items-center gap-2 text-base font-semibold text-white transition-all duration-300 bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            Back
          </button>
        </a>
      </li>
      <li class="flex-1">
        <h6 class="text-xl font-semibold leading-8 text-gray-900 2xl:text-2xl"><%= @patient.full_name %></h6>
      </li>
    </ul>
  </div>
  <%= render partial: "/admin/shared/patient_tab", locals: {tab: "Health Records"} %>
  <%= render partial: 'new' %>
  <section class="grid grid-cols-12 gap-4 px-1 pb-4 mx-4 bg-white border-b-2 rounded-lg rounded-t-none 2xl:mx-8 md:px-4 border-x-2" data-controller="patient-health-records">
    <% @health_records.each do |record| %>
      <%= render partial: 'record', locals:{record:record} %>
    <% end %>
  </section>
</div>
