<div class="p-2 mx-4 mb-5 bg-white border-2 rounded-lg 2xl:mx-8 ">
  <ul class="flex w-full gap-6 overflow-auto">
    <li class="text-sm 2xl:text-lg py-2 px-4 rounded-md <%= 'bg-primary text-white'if tab=="General" %> ">
      <a href="/admin/patients/<%= @patient.id %>/edit" >
        General
      </a>
    </li>
    <li class="px-4 text-sm 2xl:text-lg py-2 rounded-md <%= 'bg-primary text-white'if tab=="Appointments" %> ">
      Appointments
    </li>
    <li class="px-4 text-sm 2xl:text-lg py-2 rounded-md <%= 'bg-primary text-white'if tab=='Health Records' %>">
      <a href="/admin/patients/<%= @patient.id %>/health_records">
        Medical History
      </a>
    </li>
    <li class="px-4 text-sm 2xl:text-lg py-2 rounded-md <%= 'bg-primary'if tab=='Diagnoses '%>">Diagnoses</li>
    <li class="px-4 text-sm 2xl:text-lg py-2 rounded-md <%= 'bg-primary'if tab=='Treatments '%>">Treatments</li>
  </ul>
</div>
