<% if tab == "admin" %>
  <% admin =  'bg-primary' %>
<% elsif tab == "clinic" %>
  <% clinic =  'bg-primary' %>
<% elsif tab == "appointments" %>
  <% appointments =  'bg-primary' %>
<% elsif tab == "doctors" %>
  <% doctors =  'bg-primary' %>
<% elsif tab == "services" %>
  <% services =  'bg-primary' %>
<% elsif tab == "diagnoses" %>
  <% diagnoses = 'bg-primary' %>
<% else %>
  <% patients = 'bg-primary' %>
<% end %>
<div class="fixed top-0 z-10 block w-full py-2 border-b-2 bg-gray-50">
  <ul class="flex items-center justify-end text-white">
    <li class="flex-1">
      <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="z-20 inline-flex items-center p-2 mt-2 text-sm text-gray-500 rounded-lg ms-3 lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
      </button>
    </li>
    <li class="mr-4">
      <button class="flex items-center gap-2 py-2 pl-5 pr-5 text-base font-semibold text-white transition-all duration-300 2xl:text-lg bg-primary rounded-xl">
        Khmer
      </button>
    </li>
  </ul>
</div>
<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full lg:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-2 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-3 font-medium">
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <% if @current_clinic.logo.attached? %>
            <%= image_tag @current_clinic.logo, class:"w-8 h-8" %>
          <% end %>
          <span class="ms-3"> <%= @current_clinic.name %> </span>
        </a>
      </li>
      <li>
        <a href="/admin" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group <%= admin %> ">
          <%= render partial: "admin/shared/sidebar_icons/dashboard" %>
          <span class="flex-1 ms-3 whitespace-nowrap"> <%= I18n.t('home.home') %> </span>
        </a>
      </li>
      <li>
        <a href="/admin/appointments" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group <%= appointments %> ">
          <%= render partial: "admin/shared/sidebar_icons/appointments" %>
          <span class="flex-1 ms-3 whitespace-nowrap"><%= I18n.t('home.appointments') %></span>
          <span class="inline-flex items-center justify-center w-3 h-3 p-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full ms-3 dark:bg-blue-900 dark:text-blue-300"><%= @today_appointment_count %></span>
        </a>
      </li>
      <li>
        <a href="/admin/patients" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group   <%= patients %> ">
          <%= render partial: "admin/shared/sidebar_icons/patients" %>
          <span class="flex-1 ms-3 whitespace-nowrap"><%= I18n.t('home.patients') %></span>
        </a>
      </li>
      <li>
        <a href="/admin/services" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group <%= services %>">
          <%= render partial: "admin/shared/sidebar_icons/services" %>
          <span class="flex-1 ms-3 whitespace-nowrap">Services</span>
        </a>
      </li>
      <li>
        <a href="/admin/diagnoses" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group <%= diagnoses %>">
          <%= render partial: "admin/shared/sidebar_icons/diagnoses" %>
          <span class="flex-1 ms-3 whitespace-nowrap">Diagnoses</span>
        </a>
      </li>
      <li>
        <a href="/admin/doctors" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group <%= doctors %>">
          <%= render partial: "admin/shared/sidebar_icons/doctors" %>
          <span class="flex-1 ms-3 whitespace-nowrap"><%= I18n.t('home.doctors') %></span>
        </a>
      </li>
      <li>
        <%= link_to edit_admin_clinic_path(id: @current_clinic.id),
               class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group #{clinic}" do %>
          <%= render partial: "admin/shared/sidebar_icons/settings" %>
          <span class="flex-1 ms-3 whitespace-nowrap"><%= I18n.t('home.setting') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path,
               data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
               },
               class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
          <%= render partial: "admin/shared/sidebar_icons/sign_out" %>
          <span class="flex-1 ms-3 whitespace-nowrap"><%= I18n.t('home.sign_out') %></span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>
